* {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  position: relative;
}
#app {
  position: absolute;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
/*
article.page
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: stretch

.content
  flex-grow: 1
  overflow-y: auto
  flex-shrink: 0

  display: flex
  flex-direction: column
  align-items: stretch

.container
  width: 960px
  height: 100%
  // overflow-y: auto
  margin: auto
  margin-top: 0
  margin-bottom: 0
  // overflow: hidden
  // position: relative */


.App {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#menu-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#menu-container .buttons {
  width: calc(100% - 300px);
  height: 120px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 50px;
}
#menu-container .buttons button.plus,
#menu-container .buttons button.minus,
#menu-container .buttons button.pause {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  /* clip: circle(0, auto, auto, 0); */
}
#menu-container .buttons button.minus {
  left: 135px;
}
#menu-container .buttons button.pause {
  left: 240px;
}
#menu-container .menu {
  width: 350px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  clip: rect(0, auto, auto, 0);
  color: white;
  padding: 20px;
  font-size: 16px;
  line-height: 1.4;
}

.backdrop-blur {
  position: absolute;
  opacity: .99;
  overflow: hidden;
}
canvas.rendered {
  filter: blur(8px);
  position: fixed;
  width: calc(100vw + 40px);
  height: calc(100vh + 40px);
  left: -20px;
  top: -20px;
}
.backdrop-blur::after {
  background-color: rgba(255, 255, 255, .05);
  position: fixed;
  width: calc(100vw + 40px);
  height: calc(100vh + 40px);
  left: -20px;
  top: -20px;
  content: "";
}
#glCanvas {
  position: fixed;
  left: -20px;
  top: -20px;
}

/* @supports ((-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px))) {
  .backdrop-blur {
    background-color: rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    opacity: .5;
  }
} */

.content {
  position: relative;
  z-index: 100;
}

.webgl {
  position: relative;
  width: 100%;
  height: 100%;
}


.users-container {
  width: 0;
  height: 0;
  overflow: hidden;
}
.user-texture {
  width: 128px;
  height: 128px;
  /* background: rgba(0,0,0,.25); */
  background: rgba(0,0,0,0);
  /* border-radius: 20px; */
  position: relative;
  float: left;
}
.user-texture .image-area {
  width: 60%;
  height: 60%;
  border-radius: 512px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 4%;
  position: relative;
}
.user-texture .image-area img.avatar {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.user-texture .text-area {
  width: 100%;
  /* height: 30%; */
  /* font-size: 60px; */
  color: white;
  font-weight: 600;
  text-align: center;
}
